.Table {
  width: 100%;
  height: auto;
}
.TR:first-child {
  background-color: var(--comb);
  border-radius: 40px 40px 0 0;
  height: 69px;
}
.TR th:first-child {
  border-radius: 20px 0px 0px 0px;
  border: none;
  width: 60px;
  text-align: center;
}
.TR th {
  color: #ddd;
  text-align: center;
}
.TR th:nth-child(2) {
  text-align: left;
  padding: 0 15px;
  height: 69px;
  /* width: 100%; */
}
.itemsth {
  /* width: 100%; */
  /* height: 100%; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.itemsth img {
  cursor: pointer;
  /* transform: translateY(10%); */
  margin-top: 3%;
  /* display: block; */
  transition: transform 0.3s linear;
}

.TR h3 {
  font-size: 100%;
}

.itemsth img:active,
.itemsth img:focus {
  transform: scale(0.9);
}
.TR th:last-child {
  border-radius: 0px 20px 0px 0px;
  border: none;
}
.Table tr td:first-child {
  background-color: var(--comb);
  width: 6%;
}
.EmptyBuc {
  color: #ddd;
  text-align: center;
}
.Table tr td {
  background-color: var(--comb);
  /* display: flex; */
  margin-left: auto;
  text-align: center;
  color: #fff;
  font-size: 100%;
  width: 10%;

  /* justify-content: center; */
}
.Table tr td:nth-child(2) {
  text-align: left;

  padding-left: 5px;
  width: 30%;
  /* height: 100%; */
}
.Table tr td:nth-child(2) img {
  /* border-radius: 50%; */
  width: 11%;
  height: 100%;
  margin: 0px 6px;
}
.Table tr td:nth-child(2) p {
  margin: 0 6px;
}
.Table tr {
  height: 69px;
}
.infowrapper {
  height: 100%;
  display: flex;
  align-items: center;
}
.pag {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pag ul {
  list-style: none;
  display: flex;
}
.pag ul li {
  color: #fff;
  background-color: var(--sky);
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 5px;
  border-radius: 5px;
  cursor: pointer;
  filter: brightness(0.7);
}
.pag ul li:hover {
  filter: brightness(1);
}
.sumplayerimg {
  height: 100%;
  width: 9%;
}

@media (max-width: 750px) {
  .itemsth img {
    width: 18%;
  }
  .TR:first-child,
  .TR th:first-child,
  .TR th:last-child {
    border-radius: 0px;
  }
}

@media (max-width: 900px) {
  .fTHeader {
    width: 9vw;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .sumplayerimg {
    width: 13%;
  }
}
