.ChampIconWrapper {
  height: 100px;
  width: 100px;
  overflow: hidden;
  border-radius: 5px;
  margin: 10px;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  cursor: pointer;
  transition: box-shadow 0.3s linear;
}
@media (max-width: 900px) {
  .ChampIconWrapper {
    height: 60px;
    width: 60px;
  }
}
.ChampIconWrapper:hover {
  -webkit-box-shadow: 10px 10px 5px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px -6px rgba(0, 0, 0, 0.75);
}
.ChampIconWrapper img {
  height: 100%;
  width: 100%;
}
.addForm {
  height: 70%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.subBtn {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
  font-weight: bold;
  margin-top: 10px;
  border-radius: 5px;
  padding: 13px;
  width: 50%;
  margin-left: auto;
  cursor: pointer;
  border: 2px solid var(--bg);
  background-color: transparent;
  z-index: 1;
  color: #fff;
  transition: background 0.3s linear;
}
.subBtn:hover {
  background: var(--sky);
  border-color: var(--sky);
}
.MainWrapper {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.ChampTitle {
  color: #fff;
  margin-bottom: 20px;
}
.Darkwrapper {
  background-color: black;
  height: 100%;
  width: 100%;
}
.InputSum {
  border: none;
  background-color: #0f121de0;
  border-radius: 5px;
  padding: 14px;
  font-size: 17px;
  color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
}
.pag {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pag ul {
  list-style: none;
  display: flex;
}
.pag ul li {
  color: #fff;
  background-color: var(--sky);
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 5px;
  border-radius: 5px;
  cursor: pointer;
  filter: brightness(0.7);
}
.pag ul li:hover {
  filter: brightness(1);
}
